.banner
{
	img
	{
		width: 100%;
	}
}

.header
{
	position: relative;

	.link-menu
	{
		color: #fff;
		font-size: 16px;
		padding-top: 20px;
		padding-bottom: 20px;
		display: block;
	}

	.navbar
	{
		margin-bottom: 0;
	}

	.navbar-default
	{
		background-color: #333;
		border: none;
	}

	.navbar-brand
	{
		padding: 20px 15px;
		color: #fff;
	}

	.navbar-default .navbar-nav > li > a
	{
		color: #fff;
		border-top: 4px solid transparent;
		border-bottom: 4px solid transparent;
		transition: .3s;

		&:hover
		{
			border-top: 4px solid #fff;
			border-bottom: 4px solid #fff;
		}

		@media(max-width: 767px)
		{
			border: none;
			transition: .3s;

			&:hover
			{
				background-color: #fff;
				color: #333;
				border: none;
			}
		}
	}

	.nav li
	{
		text-align: center;
	}

	.slick-banner
	{
		margin-top: 65px;
	}

	.container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse
	{
		@media(max-width: 767px)
		{
			margin-bottom: 10px;
			margin-top: 10px;
		}
	}

	.navbar-default .navbar-toggle
	{
		border: none;
	}

	.navbar-default .navbar-toggle .icon-bar
	{
		background-color: #fff;
	}

	.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus
	{
		background-color: transparent;	
	}
}